@import url(global.css);

/***** SECTION HEADER *****/
.section-header {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 3rem;

    & .header-details {
        display: flex;
        flex-direction: column;
    }

    & .buttons {
        display: flex;
        gap: 2rem;

        & button {
            width: 10rem;
            height: 3rem;

            &:first-of-type {
                background-color: var(--primary-color);
            }

            &:last-of-type {
                width: 8rem;
                color: var(--primary-color);
                border: 0.1rem solid var(--primary-color);
            }
        }
    }
}


/***** FILTERS AND ACTIONS (SECTION 1) *****/
.section-1 {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-radius: 1rem;
    border: 0.1rem solid var(--background-grey);
    margin-bottom: 2rem;

    & .search-bar {
        padding: 0 1rem;
        background-color: var(--background-grey);
        border: 0.1rem solid #e0e0e0;
        transition: all 0.3s ease;

        &:focus {
            outline: none;
            border-color: var(--primary-color);
            box-shadow: 0 0 0 0.05rem rgba(148, 0, 211, 0.2);
        }
    }

    & .dropdown {
        width: 10rem;
        position: relative;

        & select {
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            font-family: unset;
            width: 100%;
            cursor: pointer;
            font-weight: 500;
            height: 2.6rem;
            padding: 0 0.6rem;
            border-radius: 0.8rem;
            border: 0.1rem solid #e0e0e0;
            background-color: var(--background-grey);
            box-shadow: inset 0 0.05rem 0.1rem rgba(0, 0, 0, 0.05);
            transition: all 0.3s ease;

            &:focus {
                outline: none;
                background-color: #eef0f1;
                border-color: var(--primary-color);
                box-shadow: 0 0 0 0.05rem rgba(148, 0, 211, 0.2);
            }

            &:hover {
                background-color: #e8e9eb;
            }
        }

        & .icon {
            position: absolute;
            pointer-events: none;
            right: 0.6rem;
            top: 50%;
            transform: translateY(-50%);
            fill: var(--background-dark);
            transition: all 0.3s ease;
        }

        &:is(:hover, :focus-within) .icon {
            fill: var(--primary-color);
        }
    }

    & button {
        width: 8rem;
        font-weight: 600;
        padding: 0 1.8rem;
        background-color: var(--primary-color);
        transition: all 0.3s ease;

        &:hover {
            transform: scale(1.02);
        }
    }
}


/***** DATA TABLE (SECTION 2) *****/
.section-2 {
    border-radius: 1rem;
    border: 0.1rem solid rgba(0, 0, 0, 0.1);
    box-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.2);

    & table {
        width: 100%;
        border-collapse: collapse;
    }

    & thead {
        & th {
            text-align: left;
            padding: 0.8rem 1rem;
            font-weight: 600;
            color: rgba(51, 51, 51, 0.8);
            background-color: var(--background-grey);
            border-bottom: 0.1rem solid rgba(51, 51, 51, 0.1);

            &:first-of-type {
                border-top-left-radius: 1rem;
            }

            &:last-of-type {
                border-top-right-radius: 1rem;
            }
        }
    }

    & tbody {
        & tr {
            &:nth-of-type(even) {
                background-color: var(--background-grey);
            }

            &:last-of-type {
                & td:last-child {
                    border-bottom-right-radius: 1rem;
                }

                & td:first-child {
                    border-bottom-left-radius: 1rem;
                }
            }
        }

        & td {
            padding: 1rem;

            &:not(:last-child) {
                border-bottom: 0.1rem solid rgba(0, 0, 0, 0.05);
            }

            & span {
                cursor: pointer;

                &.download {
                     color: #FF9500; 
                }

                &.edit { 
                    color: #00B1FF; 
                }

                &.delete { 
                    color: #EF4444; 
                }
            }

            & .status {
                font-size: 0.9rem;
                padding: 0.4rem 0.8rem;
                color: var(--color-light-text);
                font-weight: 500;
                border-radius: 1rem;

                &.archived { 
                    background-color: #EF4444; 
                }

                &.draft { 
                    background-color: #FF9500; 
                }

                &.published { 
                    background-color: #32CD32; 
                }
            }
        }
    }
}