/***** FONT *****/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/***** COLORS  *****/
:root {
    --primary-color: #9400d3;
    --accent-color: #ba55d3;
    --secondary-color: #ba55d333;
    --color-light-text: #fff;

    --color-dark-text: #333;
    --color-grey-text: #33333380;
    --background-page: #f9fafb;
    --background-component: #ffffff;
    --background-input: #eee;
    --background-hover: #f5f5f5;
    --border-color: #E5E7EB;
    --background-light: #fff;

    --background-grey: #eee;
    --background-grey2: #d3d3d3;
    --background-dark: #000;
}

/***** RESET *****/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/***** DEFAULT STYLE *****/
html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    min-height: 100vh;
    line-height: 1.5;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
}

ul {
    list-style: none;    
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

:is(button, input, select, textarea) {
    font: inherit; 
    border: unset;
    background: unset;
    outline: unset;
}

button {
    cursor: pointer;
}

:is(h1, h2, h3, h4, h5, h6, p, a) {
    color: var(--color-dark-text);
}


/***** UTILITY CLASSES *****/
.container {
    display: flex;
    width: 100%;
    height: 100%;
}

.content {
    flex: 1;
    width: 100%;
    min-width: 0;
    padding: 2rem;
    overflow-x: hidden;
}

.section-header {
    width: 100%;
    display: flex;
    gap: 1rem;
}

.divider {
    margin: 1rem 0;
    width: 100%;
    height: 0.1rem;
    opacity: 0.25;
    background-color: #333333;
}

/***** SCROLLBAR DESIGN *****/

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 4px;
}

::-webkit-scrollbar-thumb {
    background: #c0a0e0;
    border-radius: 4px;
    transition: background 0.3s;

    &:hover {
        background: #9400d3;
    }
}

body.no-scroll {
    overflow: hidden !important;
}

body.page-loaded #transition-overlay {
    opacity: 0;
    pointer-events: none; 
}

/***** CONTENT SLIDE ANIMATION *****/
.container {
    opacity: 0;
    transform: translateY(20px); 
    
    transition: opacity 0.3s ease-out, transform 0.6s cubic-bezier(0.2, 0.8, 0.2, 1);
}

body.page-loaded .container {
    opacity: 1;
    transform: translateY(0);
}