body {
    background: linear-gradient(var(--secondary-color), var(--secondary-color)), #fff;
}

.container {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    width: 80%;
    height: 40rem;
    margin: auto;
    border-radius: 2rem;
    box-shadow: 0 0 6.25rem 1.25rem var(--background-shadow);
    background-color: var(--background-light);
}

.content {
    height: 100%;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--color-light-text);

    & :is(h1, h2) {
        color: var(--color-light-text);
    }

    & h1 {
        font-size: 2.8rem;
    }

    & h2 {
        font-weight: normal;
        font-size: 1.5rem;
    }

    & button {
        font-size: 1.25rem;
        margin-top: 1rem;

        & a {
            font-size: unset;
            color: unset;
            
        }
    }

    & a {
        font-size: 1.1rem;

        &:nth-of-type(2) {
            font-weight: 500;
        }
    }
}

.register {
    letter-spacing: 0;
}

.left-container {
    flex-basis: 45%;
    border-top-right-radius: 30%;
    border-bottom-right-radius: 30%;
    background: linear-gradient(150deg, #ba55d3, #9400d3);
}

.right-container {
    flex-basis: 55%;

    & .content {
        position: relative;
        gap: 1.2rem;
        color: var(--color-dark-text);

        & .input-field {
            position: relative;
            width: 70%;
            height: 3.8rem;
            border-radius: 0.6rem;
            background-color: var(--background-grey);
            
            & input {
                position: absolute;
                width: 80%;
                left: 1.2rem;
                top: 50%;
                color: var(--color-dark-text);
                transform: translateY(-50%);
                font-size: 1.3rem;
                letter-spacing: 0.05rem;
            }
            
            & .icon {
                position: absolute;
                top: 50%;
                right: 1.2rem;
                transform: translateY(-50%);
                height: 1.8rem;
                width: 1.8rem;
                object-fit: contain;
            }
        }

        & button {
            width: 70%;
            padding: 0.8rem 0;
            background-color: var(--primary-color);
        }
    }
}

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
    visibility: hidden;
    opacity: 0;

    & .cancel {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    &:target {
        visibility: visible;
        opacity: 1;
    }
}

.pop-up {
    position: relative;
    margin: 15rem auto;
    background: #fff;
    width: 10rem;
}

#forgot-pass-pop-up {
    color: black;
    width: fit-content;
    & h1 {
        white-space: nowrap;
    }
}